<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elmboot.mapper.DeptMapper">
    <select id="selectDeptList" resultType="com.neusoft.elmboot.po.Department">
        SELECT `deptno`,`dname` ,`location`,`tel`, `setuptime`
        FROM `dept`
    </select>
    <select id="isExistDept" resultType="Integer">
        SELECT COUNT(deptno)
        FROM `dept`
        WHERE deptno=#{deptno}
    </select>
    <insert id="insert">
        INSERT INTO `dept` (`deptno`,`dname`,`location`,`tel`,`setuptime`)
        values (#{deptno},#{dname},#{location},#{tel},#{setuptime})
    </insert>
<!--    <delete id="delete">-->
<!--        SET FOREIGN_KEY_CHECKS = 0;-->
<!--        delete from `dept` where deptno=#{deptno}-->
<!--    </delete>-->
<!--    <update id="update">-->
<!--        UPDATE `dept` SET `dname`=#{dname},`location`=#{location},`setuptime`=#{setuptime} WHERE deptno=#{deptno}-->
<!--    </update>-->
</mapper>