<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elmboot.mapper.LeaveMapper">
    <select id="selectLeaveList" resultType="Leave">
         SELECT  l.`leaveId` leaveId,l.`userId` userId,l.`leaveName` leaveName,d.`dname` bmName,j.`jname` gwName,e.`entime` enTime,l.`leaveTime` leaveTime,l.`leaveTt` leaveTt,l.`leaveReason` leaveReason
        FROM `leave` l,`dept` d, `emp` e,`job` j
        WHERE l.`userId` =e.`num` AND e.`job` =j.`jnum` AND e.`deptno` =d.`deptno`
    </select>
    <select id="isExistLeave" resultType="Integer">
        SELECT COUNT(userId)
        FROM `leave`
        WHERE userId=#{userId}
    </select>
    <insert id="insert" >
        INSERT INTO `leave` (`userId`,`leaveName`,`leaveTime`,`leaveTt`,`leaveReason`)
        values (#{userId},#{leaveName},#{leaveTime},#{leaveTt},#{leaveReason})
    </insert>
</mapper>