<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elmboot.mapper.TalentMapper">

    <sql id="Talent_Column_List">`tname`,`tel`,`email`,`idNum`</sql>
<!--在使用sql语句时需要用到多条件查询,计算等操作时的方法-->
    <select id="selectTalentList" resultType="com.neusoft.elmboot.po.Talent">
      select <include refid="Talent_Column_List"/>
      from `talentpool`
    </select>

    <select id="getTalentListPage" resultType="Talent">
        select <include refid="Talent_Column_List"/>
        from `talentpool`
        <include refid="conditions"/>
        order by tid asc
        <bind name="offset" value="pageSize*(pageNo-1)"/>
        limit #{offset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    
    <sql id="conditions">
        <where>
            <if test="tname!=null">
                and tname LIKE CONCAT('%',#{tname},'%')
            </if>
        </where>
    </sql>
    
    <select id="counts" resultType="int">
        select count(tid)
        from talentpool
        <include refid="conditions"/>
    </select>
</mapper>